- if user_signed_in?
  .container
    = button_to "New snippet", new_snippet_path, :method => :get, :class => "btn btn-primary"
    %br

.container
  - @snippets.each do |snippet|
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left
          = link_to snippet.title, snippet_path(snippet.id)
          %br/
          - if snippet.user
            = snippet.user.username
        - if user_signed_in? && (snippet.user_id == current_user.id)
          .btn-group.pull-right
            = link_to "Edit", edit_snippet_path(snippet.id), :class => "btn btn-default"
            = link_to "Destroy", snippet_path(snippet.id), :method => :delete, :class => "btn btn-danger"
      .panel-body
        = snippet.content
      .panel-footer
        - snippet.comments.each do |comment|
          = render partial: "comments/comment", :locals => { :comment => comment }
