<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><%= @snippet.title %></div>
    <div class="panel-body"><%= @snippet.content %></div>
    <div class="panel-footer", id="comment_box">
      <% @comments.each do |comment| %>
        <div><%= comment.content %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
    <h3>Join the discussion!</h3>
    <%= form_for [@snippet, @comment], remote: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Post comment", :class => "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <h3>Sign in to post a comment.</h3>
  <% end %>
</div>
