.container
  .panel.panel-default
    .panel-heading.clearfix
      .panel-title.pull-left
        = @snippet.title
        %br/
        - if @snippet.user
          = @snippet.user.username
      -if user_signed_in? && (@snippet.user_id == current_user.id)
        .btn-group.pull-right
          = link_to "Edit", edit_snippet_path(@snippet), :class => "btn btn-default"
          = link_to "Destroy", snippet_path(@snippet), :method => :delete, :class => "btn btn-danger"
    .panel-body#command
      = @snippet.content
    -if user_signed_in? && (@snippet.user_id == current_user.id)
      .panel-footer.clearfix#output
        %button.btn.btn-success.pull-right#execute Execute

.container
  .well#comment_box
    - @comments.each do |comment|
      %div
        %label= comment.user.username
        = comment.content
  - if user_signed_in?
    %h3 Join the discussion!
    = form_for [@snippet, @comment], remote: true do |f|
      .form-group
        = f.text_area :content, :class => "form-control"
      .form-group
        = f.submit "Post comment", :class => "btn btn-primary"
  - else
    %h3 Sign in to post a comment.
