<!DOCTYPE html>
<html>
<head>
  <title>rails-app</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% elsif alert %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to "rails-app", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if Rails.env.test? %>
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      <% else %>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>

  </div>
</nav>

<%= yield %>

<script>
 $(document).ready(function() {
  setTimeout(function() {
    $(".alert").fadeOut("slow", function() {
      $(this).remove();
    });
  }, 3000);
 });
</script>

</body>
</html>
