!!!
%html
  %head
    %meta{"charset" => "UTF-8"}/
    %title Pipette
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    - if notice
      .alert.alert-success{"role" => "alert"}
        = notice
    - if alert
      .alert.alert-danger{"role" => "alert"}
        = alert

    = render "layouts/navbar"
    = yield

    :javascript
      $(document).ready(function() {
        setTimeout(function() {
          $(".alert").fadeOut("slow", function() {
            $(this).remove();
          });
        }, 3000);
      });
